{% extends 'admin_log/base.html' %}

{% block title %}Delete Coupon - Audio Bliss{% endblock %}

{% block extra_css %}
<!-- Add any additional CSS here -->
{% endblock %}

{% block body %}
{% load static %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Delete Coupon</h2>
        </div>
        <div>
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Are you sure you want to delete the coupon with code "{{ coupon.code }}"?</p>
            <form method="post" action="{% url 'coupon:coupon_delete' coupon.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'coupon:coupon_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div> <!-- .card-body -->
    </div> <!-- .card -->
</section>

{% endblock %}
