{% extends 'admin_log/base.html' %}

{% block title %}Audio Bliss - Product Deletion{% endblock %}

{% block body %}
{% load static %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Delete Product</h2>
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Confirm Deletion</h5>
                    <p class="card-text">Are you sure you want to delete "{{ product.title }}"?</p>
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert {% if 'productdelete' in message.tags %}alert-danger{% else %}alert-success{% endif %}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                        <a href="{% url 'product_det:product_details' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}