{% extends 'admin_log/base.html' %}

{% block title %}Audio Bliss - Manage Product Variants{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body %}
{% load static %}
<section class="content-main">
    <div class="container">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Manage - Product Variants </h2>
                <p>Add, edit or delete a variant</p>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags == 'variant' %}
                    {% if 'updated' in message.message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% elif 'deleted' in message.message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                    {% for variant in variants %}
                    <div class="col mb-4">
                        <div class="card-product-grid">
                            {% if variant.image1 %}
                                <a href="{% url 'product_det:edit_variant' variant_id=variant.id %}" class="img-wrap">
                                    <img src="{{ variant.image1.url }}" alt="{{ variant.product.title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_det:edit_variant' variant_id=variant.id %}" class="img-wrap">
                                    <img src="{% static 'admin/imgs/no-image.jpg' %}" alt="{{ variant.product.title }}">
                                </a>
                            {% endif %}
                            <div class="info-wrap">
                                <a href="{% url 'product_det:edit_variant' variant_id=variant.id %}" class="title text-truncate">{{ variant.product.title }}</a>
                                <div class="attr-detail attr-color mb-15">
                                    <ul class="list-filter color-filter">
                                        <li><a href="#" data-color="Red"><span class="product-color-red">{{ variant.color.name }}</span></a></li>
                                    </ul>
                                </div>
                                <div class="price mb-2">Price: &#8377;{{ variant.price }}</div>
                                <div class="price mb-2">Stock: {{ variant.stock }}</div>
                                <!-- Active Status -->
                                <div class="mb-2">
                                    {% if variant.is_active %}
                                        <span class="badge bg-success">Active</span>
                                    {% else %}
                                        <span class="badge bg-danger">Inactive</span>
                                    {% endif %}
                                </div>
                                <div class="btn-group">
                                    <a href="{% url 'product_det:edit_variant' variant_id=variant.id %}" class="btn btn-sm font-sm rounded btn-brand">
                                        <i class="material-icons md-edit"></i> Edit
                                    </a>
                                    <form method="post" class="d-inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="variant_id" value="{{ variant.id }}">
                                        <a href="{% url 'product_det:delete_variant' variant_id=variant.id %}" class="btn btn-sm font-sm btn-light rounded">
                                            <i class="material-icons md-delete_forever"></i> Delete
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            {% if variants.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ variants.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">
                                        <i class="fi-rs-angle-double-small-left"></i>
                                    </a>
                                </li>
                            {% endif %}
                
                            {% for num in variants.paginator.page_range %}
                                {% if variants.number == num %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                
                            {% if variants.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ variants.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">
                                        <i class="fi-rs-angle-double-small-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
