{% extends 'user_log/base.html' %}

{% block title %}Audio Bliss - Login {% endblock %}

{% block body %}
{% load static %}
{% load socialaccount %}

<section class="pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Login</h3>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" required="" name="email" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <a class="text-muted" href="{% url 'userlog:user_signup' %}">Create an Account</a>
                                        <a class="text-muted" href="{% url 'userlog:forgot_password' %}">Forgot password?</a>
                                    </div>
                                    <div class="divider-text-center mt-15 mb-15"><span> or</span></div>
                                    <ul class="btn-login list_none text-center mb-15">
                                        <li><a href= "{% provider_login_url 'google' process='login' auth_params='prompt:none' %}" class="btn btn-google hover-up">Login With Google</a></li>
                                    </ul>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>     
{% endblock %}